.content{
    background: url(images/artificial-foliage-from-paper-style-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    line-height: normal;
    color: rgb(34, 34, 34);
    padding: 20px;
}

.details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6)50%, rgba(0, 0, 0, 0.6)50%), url(images/block.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;
    line-height: 30px;
    color: white
}

.details b, h2{
    color: orangered;
}

.staff{
    text-align: center;
    padding: 20px;
}
.staff .avatar{
    transition: 0.3s ease-in;
    vertical-align: middle;
    width: 400px;
    height: auto;
    border-radius: 50%
}
.staff .title p{
    font-family: Arial;
    font-size: 27px;
    font-weight: 300;
    color: rgb(63, 106, 197);
}

.staff b{
    color: orangered;
}

.author{
    background: url(images/5376728.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}
.author h3{
    padding-left: 93px;
    padding: 32px;
}
.author p{
    padding: 30px;
}
.author img{
    transition: 0.3s ease-in;
    width: 80px;
    height: auto;
    border-radius: 50%
}
.author img{
    float: left;
    margin: 12px;
}